<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shwlong.qsn.dao.AnswerMapper">
    <select id="getAnswerCountByPaperIdAndQsId" resultType="integer">
        SELECT count(*) FROM answer
        where paper_id=#{paperId} AND qs_id=#{qsId}
        GROUP BY qs_id
    </select>
</mapper>